.timesheetDetailsSection {
    width: 100%;
    min-height: 100vh;
    padding: 22px 62px;
    font-family: 'Roboto';
    color: var(--light-background-color);
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.date {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.workingTime {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-transform: capitalize;
    color: var(--success-color);
}
.timesheetDetailsArticle {
    max-width: 1077px;
    background: var(--dark-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 32px 28px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 34px;
}
.articleDatas {
    width: 40%;
}
.articleH3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.articleP {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    color: var(--text-dark-color);
}
.articleSpan {
    color: var(--light-background-color);
}
.descriptionDiv {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.articleTextarea {
    background: var(--dark-background-color);
    border: 2px solid var(--border-color);
    margin-left: 10px;
    width: 317px;
    height: 147px;
}
.faEdit {
    font-size: 40px;
}

@media screen and (min-width: 890px) and (max-width: 1080px) {
    .articleTextarea {
        width: 200px;
    }

    .articleH3,
    .articleP {
        font-size: 1rem;
    }
}

@media screen and (max-width: 889px) {
    .timesheetDetailsArticle {
        flex-direction: column;
        gap: 30px;
    }

    .articleTextarea {
        max-width: 200px;
        margin: 0;
        width: 100%;
    }

    .articleH3,
    .articleP {
        font-size: 1rem;
    }
    .articleDatas {
        width: 100%;
    }

    .descriptionDiv {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
}
