body {
    margin-top: 5%;
}

.error-message {
    width: 90%;
    height: 80%;
    background-color: var(--pink-soothing-color);
    display: flex;
    flex-direction: column;
    color: var(--gray-color);
    margin: auto;
    padding: 25px;
}
