.main {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    justify-content: space-between;
    gap: 50px;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    background-color: var(--dark-background-color);
    border-radius: 6px;
    gap: 50px;
}

.top_wrapper {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
    padding: 60px;
    justify-content: space-between;
    background-color: var(--dark-background-color);
    border-radius: 6px;
    gap: 50px;
}

.bottom_wrapper {
    height: 20%;
    width: 100%;
    text-align: right;
    padding: 50px;
}

.clientName {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--text-primary-color);
}

.data_wrapper {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 16px;
}
.input_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label {
    color: var(--text-primary-color);
}

.input,
.select_region {
    font-size: 16px;
    border: 1px solid var(--dark-background-color);
    border-bottom: 1px solid var(--border-color);
    height: 24px;
    background-color: var(--dark-background-color);
    color: var(--text-primary-color);
    padding-left: 5px;
}

.select_region {
    text-transform: uppercase;
}

.input:hover {
    border-bottom: 3px solid var(--border-color);
}

.input:focus {
    outline: none;
    border-bottom: 3px solid var(--border-color);
}
.select_option {
    text-transform: uppercase;
}

.imgContainer {
    border: 1px solid var(--border-color);
    width: 30%;
    height: 250px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
