.profile-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 260px;
    background-color: var(--dark-background-color);
    border-radius: 10px;
    gap: 10px;
}

.profile-photo {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background-color: var(--background-color);
    border: none;
    margin-top: -15px;
}

.text-gray-color {
    color: var(--text-dark-color);
}

.span {
    color: white;
}

.delete-div {
    width: 210px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}
