@import url('../../theme.module.css');

.timesheet {
    display: flex;
    justify-content: space-around;
}

.table {
    width: 90%;
    color: var(--text-primary-color);
}

.days {
    background-color: var(--background-color);
}

.row {
    height: 160px;
    width: 100%;
}

.cell {
    width: 14%;
    background-color: var(--dark-background-color);
}
